li{
    list-style: none;
    margin-left: 7px;
    
}
.footer{
    background-color: black;
    color: wheat;
    text-align: center;
}
.footer>p{
    font-size: 16px;
}
.navbar>nav{
    display: flex;
    justify-content: space-around;

}
ul{
    display: flex;
}
.skills{
    display: flex;
    
}
.skills>div{
    text-align: center;
    margin-top: 2rem;
}
.skills>div>p{
    padding: 1rem;
}
img[src="images/lap.jpeg"]{
    width: 100vw;
    height: 95vh;
    margin-right: 5rem;
   
}
a{
    text-decoration: none;
}
a:link,a:visited{
    color:black;
}
a:hover{
    color: brown;
}